<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<!-- 1,数据库链接信息 -->
	<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

	<!-- 2,其他配置 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>
	
	<property name="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property>
	
	<!-- 映射 -->
	<mapping class="com.zw.weixin.bean.User" />

</session-factory>
</hibernate-configuration>